[submodule "oop-task"]
	path = oop-task
	url = https://github.com/Phuffick/epam-training.git
[submodule "strings-task"]
	path = strings-task
	url = https://github.com/Phuffick/epam-training.git
[submodule "xml-task"]
	path = xml-task
	url = https://github.com/Phuffick/epam-training.git
